Repository DevoteamNL/opendora, pull requests merged in 2024-03, with the labels that each got.

#152 Fix/#150 Add option to allow native passwords method to be used
  devlake-go/api/sql_client/client.go
Labels: bug

#151 Build/#147 ops improvements to GitHub actions
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/SECURITY.md
  .github/dependabot.yml
  .github/issue-labeler.yml
  .github/labeler.yml
  .github/release.yaml
  .github/workflows/cleanup.yml
  .github/workflows/issue-labeler.yaml
  .github/workflows/pr-backstage-plugin.yaml
  .github/workflows/pr-go-api.yaml
  .github/workflows/pr-mock-api.yaml
  .github/workflows/publish-backstage-plugin-package.yaml
  .github/workflows/publish-backstage-plugin-workflow.yaml
  .github/workflows/publish-go-api-docker.yaml
  .github/workflows/publish-opendora-helm-chart.yaml
  .github/workflows/publish.yaml
  .github/workflows/test-backstage-plugin.yaml
  .github/workflows/test-go-api.yaml
  .github/workflows/test-mock-api.yaml
Labels: ci/cd

#149 Cfr frontend
  backstage-plugin/plugins/open-dora/src/components/DashboardComponent/BenchmarkGridItem.tsx
  backstage-plugin/plugins/open-dora/src/components/DashboardComponent/DashboardComponent.test.tsx
  backstage-plugin/plugins/open-dora/src/components/DashboardComponent/DashboardComponent.tsx
  backstage-plugin/plugins/open-dora/src/components/HighlightTextBoxComponent/HighlightTextBoxComponent.css
  backstage-plugin/plugins/open-dora/src/locales/en/translation.json
  dora-api-mock/src/main/resources/application.yaml
  dora-api-mock/src/main/resources/openapi.yaml
  dora-api-mock/src/main/resources/stubs/benchmark/cfr/cfr_benchmark.json
  dora-api-mock/src/main/resources/stubs/benchmark/mltc/mltc_benchmark.json
  dora-api-mock/src/main/resources/stubs/metrics/cfr/cfr_quarterly.json
Labels: enhancement

#160 Feature/#154 mttr mock and frontend
  backstage-plugin/plugins/open-dora/src/components/DashboardComponent/BenchmarkGridItem.tsx
  backstage-plugin/plugins/open-dora/src/components/DashboardComponent/DashboardComponent.test.tsx
  backstage-plugin/plugins/open-dora/src/components/DashboardComponent/DashboardComponent.tsx
  backstage-plugin/plugins/open-dora/src/locales/en/translation.json
  dora-api-mock/src/main/resources/application.yaml
  dora-api-mock/src/main/resources/openapi.yaml
  dora-api-mock/src/main/resources/stubs/benchmark/mttr/mttr_benchmark.json
  dora-api-mock/src/main/resources/stubs/metrics/mttr/mttr_monthly.json
  dora-api-mock/src/main/resources/stubs/metrics/mttr/mttr_quarterly.json
  dora-api-mock/src/main/resources/stubs/metrics/mttr/mttr_weekly.json
Labels: enhancement

#163 Feature/#162 mttr backend
  devlake-go/api/main.go
  devlake-go/api/main_test.go
  devlake-go/api/service/metric_mttr_service.go
  devlake-go/api/service/metric_mttr_service_test.go
  devlake-go/api/sql_client/sql_queries/monthly_mltc.sql
  devlake-go/api/sql_client/sql_queries/monthly_mttr.sql
  devlake-go/api/sql_client/sql_queries/quarterly_mttr.sql
  devlake-go/api/sql_client/sql_queries/queries.go
  devlake-go/api/sql_client/sql_queries/weekly_mttr.sql
  devlake-go/api/validation/parameters.go
  devlake-go/api/validation/parameters_test.go
Labels: enhancement
